<!--
    David Haas
    4/29/20
    https://dhaas417.greenriverdev.com/328/dating/
    Pet dating website
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pet Partners</title>
    <include href="includes/header.htm"></include>
</head>

<body>
    <nav class="navbar bg-light navbar-light navbar-expand-sm"
        <div class="container">
            <div class="navbar-nav">
                <p class="nav-item">My Pet Dating App</p>
            </div>
        </div>
    </nav>

    <div class="container border">
        <div class="row">
            <div class="col-6">
                <h2 class="text-center">Pet Partner Perfection</h2>
                <p>Welcome to the best website in Washington for pets meeting
                other pets.  Our dogs find the perfect match and always leave
                as happy as can be!</p>
                <h4 class="text-center">Some owners said -</h4>
                <hr>
                <div class="col-2"></div>
                <div class="col-12">
                    <div class="feature-left">
                        <div class="text-left">
                            <p><em>"My Ralphie found the poodle of his dreams!"</em> - Andrea</p>
                        </div>
                    </div>
                    <div class="feature-left">
                        <div class="text-left">
                            <p><em>"Who's a good girl? My Princess is and she loves the
                                encounters she makes here."</em> - John Smith</p>
                        </div>
                    </div>
                    <div class="feature-left">
                        <div class="text-left">
                            <p><em>"Just try it! Your pet will never be the same!"</em> - Sarah</p>
                        </div>
                    </div>
                </div>
                <hr>
                <!-- Submit button -->
                <div class="text-center">
                    <a class="btn btn-primary text-center" href="personal_info" role="button">Create a Profile!</a>
                </div>
            </div>

            <div class="col-6">
                <img class="img-fluid rounded-lg" src="images/puppies.jpg" alt="puppies kissing">
            </div>
        </div>
    </div>




    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>