<!doctype html>
<html lang="en">
<head>
    <title>Summary</title>
    <include href="includes/header.htm"></include>
</head>

<body>
<nav class="navbar navbar-light bg-light mb-2">
    <a class="navbar-brand" href="./">My Pet Dating App</a>
</nav>

<div class="container mt-5">
    <div class="row px-md-5 mx-md-5">
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item">Name: {{ @fName @lName }}</li>
                <li class="list-group-item">Gender: {{ @gender }}</li>
                <li class="list-group-item">Age: {{ @age }}</li>
                <li class="list-group-item">Phone: {{ @phone }}</li>
                <li class="list-group-item">Email: {{ @email }}</li>
                <li class="list-group-item">State: {{ @state }}</li>
                <li class="list-group-item">Seeking: {{ @seeking }}</li>
                <li class="list-group-item">Interests: {{ @interests}}</li>
            </ul>
        </div>
    </div>

    <div class="row px-md-t mx-md-5">
        <div class="col-md-6">
            <img class="img-fluid rounded-lg" src="images/profile.png" alt="figure profile">
            <h3>Biography</h3>
            <p>{{ @bio }}</p>
        </div>
    </div>
</div>


<include href="includes/footer.htm"></include>
</body>
</html>