<!doctype html>
<html lang="en">
<head>
    <title>Summary</title>
    <include href="includes/header.htm"></include>
</head>

<body>
<nav class="navbar navbar-light bg-light mb-2">
    <a class="navbar-brand" href="./">My Pet Dating App</a>
</nav>

<div class="row">
    <div class="col-6">
        <p class="card mb-0 ml-3 p-2">Name: {{ @fName }} </p>
        <p class="card mb-0 ml-3 p-2">Age: </p>
        <p class="card mb-0 ml-3 p-2">Gender: </p>
        <p class="card mb-0 ml-3 p-2">Phone Number: </p>
        <p class="card mb-0 ml-3 p-2">E-Mail: </p>
        <p class="card mb-0 ml-3 p-2">State: </p>
        <p class="card mb-0 ml-3 p-2">Seeking: </p>
        <p class="card mb-0 ml-3 p-2">Interests: </p>
    </div>

    <div class="col-md-6">
        <img class="img-fluid rounded-lg" src="images/profile.png" alt="figure profile">
        <h3>Biography</h3>
        <p>{{ @bio }}</p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="text-center">
            <br><button type="submit" class="btn btn-primary">Contact Me!</button>
        </div>
    </div>
</div>



<include href="includes/footer.htm"></include>
</body>
</html>